<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="/static/lib/bootstrap-5.3.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/site.css" asp-append-version="true"/>

</head>
<body>
    <partial name="Header"></partial>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <partial name="Footer"></partial>

<script src="/static/lib/jquery/dist/jquery.min.js"></script>
<script src="/static/lib/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>